registry=https://registry.npmjs.org/

@rex:registry=https://techcore.jfrog.io/artifactory/api/npm/npm-local-rex/
//techcore.jfrog.io/artifactory/api/npm/npm-local-rex/:username=${REPO_USER}
//techcore.jfrog.io/artifactory/api/npm/npm-local-rex/:_password=${REPO_SECRET}
//techcore.jfrog.io/artifactory/api/npm/npm-local-rex/:always-auth=true
